html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #616475;
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.menus {
    display: none;
    cursor: pointer;
}

.menus div {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #616475;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .menus {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/*Index*/

.index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('img/banner-food.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.index-banner h2 {
    font-family: Catamaran;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 4px 8px #111;
}

.index-links div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #f2f2f2;
}

p {
    color: #111;
}

.index-links div h3 {
    font-family: Catamaran;
    font-size: 28px;
    font-weight: 500;
    line-height: 100px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}


/*Footer*/

footer {
    width: calc(100%-80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #fff;
    overflow: hidden;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a {
    font-family: Catamaran;
    font-size: 24px;
    color: #111111;
    line-height: 40px;
}

.footer-links-main {
    display: none;
}

.footer-sm {
    width: 50px;
    float: right;
}

.footer-sm img {
    width: 100%;
    margin-bottom: -60px;
}


/*Get Start*/

.index-links div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: transparent;
}

p {
    color: #111;
}

.index-links div h3 {
    font-family: Catamaran;
    font-size: 28px;
    font-weight: 500;
    line-height: 100px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px #111;
    Border: solid 5px white;
    border-radius: 10px;
    height: 105px;
    width: 200px;
    margin: auto;
}


/*content topBLock1*/

.txtBlock1 {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('img/contentbg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.txtBlock1 h1 {
    font-family: Cormorant Garamond;
    font-size: 50px;
    font-weight: 100;
    font-style: italic;
    line-height: 60px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
    padding: 50px;
}

.txtBlock1 h2 {
    font-family: Cormorant Garamond;
    font-size: 25px;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}


/*content menu*/

.menu1 {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('img/menupage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.menus-links div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: transparent;
}

p {
    color: #111;
}

.menus-links div h3 {
    font-family: Catamaran;
    font-size: 28px;
    font-weight: 500;
    line-height: 100px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px #111;
    Border: solid 3px white;
    border-radius: 10px;
    margin: 0 auto;
    height: 105px;
    width: 200px;
}


/*Footer(about us)*/

footer {
    width: calc(100%-80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #fff;
    overflow: hidden;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a {
    font-family: Catamaran;
    font-size: 24px;
    color: #111;
    line-height: 40px;
}

.footer-links-main {
    display: none;
}

.footer-sm {
    width: 50px;
    float: right;
}

.footer-sm img {
    width: 100%;
    margin-bottom: -60px;
}

.dropbtn {
    padding-top: 1px;
    background-color: #616475;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}